GROQ_API_KEY=GIVE_YOUR_KEY
MODEL_NAME=llama-3.3-70b-versatile
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2
ALLOW_MODEL_DOWNLOAD=false
SHL_CATALOG_URL=https://www.shl.com/products/product-catalog/
